---
// src/layouts/Layout.astro
import "../styles/global.css";
import "@fontsource/lobster";
import "@fontsource/space-grotesk/700.css";

interface Props {
  title: string;
  description: string;
  image?: string; // Imagen opcional para cada página
}

const {
  title,
  description,
  image = "/og-image.webp", // Imagen por defecto en public/
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, "https://yapaso.app");
---

<!doctype html>
<html lang="es-AR" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="preload"
      href="/fonts/SpaceGrotesk-Bold.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Lobster-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />

    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content="Agustina y Thomas" />
    <meta name="robots" content="index, follow" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, canonicalURL)} />
    <meta property="og:site_name" content="Ya Paso" />
    <meta property="og:locale" content="es_AR" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, canonicalURL)} />

    <meta name="theme-color" content="#FFE500" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
